<table>
    <tr><td colspan="2">Status</td></tr>
    <tr>
        <td style="width: 150px;">Blickrichtung</td>
        <td  style="width: 150px;text-align: right">{{marsRoverState?.direction}}</td>
    </tr>
    <tr>
        <td style="width: 150px;">X Koordinate</td>
        <td style="width: 150px;text-align: right">{{marsRoverState?.xCoordinate}}</td>
    </tr>
    <tr>
        <td style="width: 150px;">Y Koordinate</td>
        <td style="width: 150px;text-align: right">{{marsRoverState?.yCoordinate}}</td>
    </tr>
</table>